# General
.DS_Store
.env
.env.*
!.env.example

# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
*.so
.Python
env/
*.db-shm
*.db-wal
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
*.egg-info/

# Frontend
dist/
build/
coverage/
.fs_cache
.npm

# Database
*.sqlite3
*.db
data/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea
.vscode
*.swp
*.swo

# Project Specific
screenshots/
